body {
    font-family: Segoe UI, sans-serif;
    background-color: #222;
}

header {
    text-align: center;
    color: #fff;
}

section {
    top: 50%;
    left: 50%;
    margin: auto;
    padding: 15px;
    background-color: #fff;
    width: 500px;
    height: 450px;
    border-radius: 10px;
}

button {
    cursor: pointer;
    font-size: 14pt;
    background-color: orange;
    border: none;
    border-radius: 18px;
    padding: 4px;
    width: 70px;
    transition: ease-in, ease-in-out;
    color: #fff;
}

button:hover {
    background-color: rgb(184, 119, 0);
}


input {
    font-size: 14pt;
    border-radius: 10px;
    border: none;
    border: 1px solid #000;
}

footer {
    color: #fff;
    font-size: 15pt;
    text-align: center;
}

